.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.top {
  width: 100%;
  position: relative;
  height: 300px;
  background-color: #ffc70a;
}
.bottom {
  width: 100%;
  height: 300px;
  background-color: white;
  position: relative;
}
.login-form {
  padding: 20px 30px;
  width: 40%;
  background: white;
  margin: auto;
  position: absolute;
  left: 30%;
  top: -30%;
  z-index: 9;
  text-align: left;
}
.hint {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: rgb(0 0 0 / 54%);
}
