
 <div class="top">

</div>
<div class="bottom">
<form  class="login-form" [formGroup]="loginForm"  (ngSubmit)="onSubmit()"  >
  <h3>Please login </h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput  placeholder="password" formControlName="password" >
  </mat-form-field>
  <button mat-raised-button  color="primary" type="submit" [disabled]="loginForm.invalid" > Add Now</button>

</form>
<p class="hint">Name : pinki , password :123456, Email: pinki@gmail.com</p>
</div>