<mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer class="example-sidenav" mode="side" opened >
      <div class="overcover">
        <div style="text-align: center; margin: 20px 0px;">
          <a>
            <img src="https://chaitanyahr.com/wp-content/uploads/2015/02/logo_dummy.png" style="width: 90px;" />
          </a>
        </div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="photo"><img src="https://www.seekpng.com/png/full/207-2075060_abbyjohnson-circle-infograph-4-icon-woman-in-circle.png" /></div>
              </mat-panel-title>
              <mat-panel-description>
                Pinki sharma
              </mat-panel-description>
            </mat-expansion-panel-header>
  
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput />
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>ID</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
        <br />
        <li><a routerLink="/user">Dashboard</a></li>
        <li><a routerLink="/user/product">product</a></li>
        <li><a routerLink="/user/ProductAdd">Add Product</a></li>
        <button class="logout" (click)="logout()"> Logout </button>
      </div>
    </mat-drawer>
  
    <mat-toolbar>
      <div class="example-sidenav-content"> </div>
      <button mat-button (click)="drawer.toggle()">...</button>
    
    </mat-toolbar>
   
    <router-outlet style="width: 100%; height: 100%;"> </router-outlet>
</mat-drawer-container>