.example-container {
  /* width: 500px;
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.5); */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.example-sidenav {
  padding: 0px;
  overflow: hidden;
}

li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 90%;
  border: none;
  padding: 10px;
}
li a {
  font-size: 14px;
  color: #741648;
  font-weight: 500;
}
li:hover {
  background-color: #741648;
  cursor: pointer;
  border-radius: 4px;
}
li:hover a {
  color: #fff;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-drawer.mat-drawer-side {
  overflow: hidden;
  width: 260px;
}
.photo {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.photo img {
  height: 100%;
  width: 100%;
}
.mat-expansion-panel-header-description {
  padding-top: 5%;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.bg {
  background-size: cover;
}

.overcover {
  background-color: #ffc70a;
  position: relative;
  left: 0;
  top: 0%;
  height: 100%;
  /* width: 100%; */

  padding: 10px 10px;
}
.mat-drawer-transition .mat-drawer-content {
  padding-left: 20px;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
}

.logout {
  position: absolute;
  bottom: 5%;
  border: none;
  padding: 10px;
  width: 90%;
  background: #74164826;
  color: #741648;
}
.logout:hover {
  background-color: #741648;
  color: #fff;
}
