table {
  width: 100%;
}
.flot-right {
  text-align: right;
}
.mat-form-field {
  width: 100%;
}
.mat-card:not([class*="mat-elevation-z"]) {
  width: 50%;
  margin: 40px;
}
p {
  position: absolute;
  bottom: 0;
  color: gray;
  font-size: 14px;
  letter-spacing: 1.3px;
  left: 2%;
}
