<mat-card>
      <h3>Add Products </h3>

        <form [formGroup]="addproForm"  (ngSubmit)="add()"  >
            <mat-form-field class="example-full-width">
            <input matInput placeholder="product name" formControlName="name">
            </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="price" formControlName="price">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="code" formControlName="code">
        </mat-form-field>
        <br>
        <button mat-raised-button  color="primary" type="submit" [disabled]="addproForm.invalid"> Add product</button>
        </form>
     
  </mat-card>  
   <p> The added product show will be the product list.But it is saved in a service file, <br>then it will be over everything
    that you've made. if the page is reload.</p>